// Render the comment, and escapes JS to make sure it's valid js
// We then hide it
var new_comment = $("<%= escape_javascript(render(:partial => @comment))%>").hide();
// Put the comment at the beginning of the dif
$('#comments').prepend(new_comment);
// Then we fade the comment in slowly
$('#comment_<%= @comment.id %>').fadeIn('slow');
// Resets the form for submitting a comment
$('#new_comment')[0].reset();